<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration PUBLIC "-//Hibernate/Hibernate Configuration DTD 3.0//EN" "http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
  <session-factory>
    <property name="hibernate.connection.driver_class">com.microsoft.sqlserver.jdbc.SQLServerDriver</property>
    <property name="hibernate.connection.url">jdbc:sqlserver://JHONBARRANCOX\SQLEXPRESS\local:1433;databaseName=BD_COMERCIAL</property>
    <property name="hibernate.connection.username">sa</property>
    <property name="hibernate.connection.password">admin1</property>
    <mapping resource="POJOS/GenMails.hbm.xml"/>
    <mapping resource="POJOS/VenClientesSucursal.hbm.xml"/>
    <mapping resource="POJOS/NomCajas.hbm.xml"/>
    <mapping resource="POJOS/TesReciConceptos.hbm.xml"/>
    <mapping resource="POJOS/GenFavoritos.hbm.xml"/>
    <mapping resource="POJOS/AlmMaePedidoVenta.hbm.xml"/>
    <mapping resource="POJOS/TesDetaChequeras.hbm.xml"/>
    <mapping resource="POJOS/CxPProveedor.hbm.xml"/>
    <mapping resource="POJOS/TesMaeCajaMenor.hbm.xml"/>
    <mapping resource="POJOS/CntPeriodos.hbm.xml"/>
    <mapping resource="POJOS/CxPDetaCausa.hbm.xml"/>
    <mapping resource="POJOS/VenResxAlm.hbm.xml"/>
    <mapping resource="POJOS/TesChequeras.hbm.xml"/>
    <mapping resource="POJOS/CntTerceros.hbm.xml"/>
    <mapping resource="POJOS/NomPension.hbm.xml"/>
    <mapping resource="POJOS/AlmDetaInsumos.hbm.xml"/>
    <mapping resource="POJOS/CxPMaeCausa.hbm.xml"/>
    <mapping resource="POJOS/NomMaeVariables.hbm.xml"/>
    <mapping resource="POJOS/CfgPerfilxUsua.hbm.xml"/>
    <mapping resource="POJOS/MlZonas.hbm.xml"/>
    <mapping resource="POJOS/AlmCenCostos.hbm.xml"/>
    <mapping resource="POJOS/TesNb.hbm.xml"/>
    <mapping resource="POJOS/GenConsecS.hbm.xml"/>
    <mapping resource="POJOS/VenMovAmarres.hbm.xml"/>
    <mapping resource="POJOS/TesCajas.hbm.xml"/>
    <mapping resource="POJOS/VenResoluciones.hbm.xml"/>
    <mapping resource="POJOS/VenDetaFact.hbm.xml"/>
    <mapping resource="POJOS/CntMmformatos.hbm.xml"/>
    <mapping resource="POJOS/VenDetaNotas.hbm.xml"/>
    <mapping resource="POJOS/CfgConfigReportsTer.hbm.xml"/>
    <mapping resource="POJOS/VenMaeCart.hbm.xml"/>
    <mapping resource="POJOS/NomEstados.hbm.xml"/>
    <mapping resource="POJOS/TesConceptosNb.hbm.xml"/>
    <mapping resource="POJOS/CntMmmaeSchemas.hbm.xml"/>
    <mapping resource="POJOS/VenCupos.hbm.xml"/>
    <mapping resource="POJOS/GenConsecM.hbm.xml"/>
    <mapping resource="POJOS/NomTransxVar.hbm.xml"/>
    <mapping resource="POJOS/CfgConfigReports.hbm.xml"/>
    <mapping resource="POJOS/NomCargos.hbm.xml"/>
    <mapping resource="POJOS/CntMmdetaConceptos.hbm.xml"/>
    <mapping resource="POJOS/CntTriReng.hbm.xml"/>
    <mapping resource="POJOS/CxPMaeCompra.hbm.xml"/>
    <mapping resource="POJOS/VenMaefactsManual.hbm.xml"/>
    <mapping resource="POJOS/GenMenu.hbm.xml"/>
    <mapping resource="POJOS/NomDetaPrestamo.hbm.xml"/>
    <mapping resource="POJOS/NomPeriodosxVar.hbm.xml"/>
    <mapping resource="POJOS/GenCentros.hbm.xml"/>
    <mapping resource="POJOS/VenMaeAnticipos.hbm.xml"/>
    <mapping resource="POJOS/GenDepartamentos.hbm.xml"/>
    <mapping resource="POJOS/GenNotificaIds.hbm.xml"/>
    <mapping resource="POJOS/TesCargosxRc.hbm.xml"/>
    <mapping resource="POJOS/NomSecciones.hbm.xml"/>
    <mapping resource="POJOS/AlmTallas.hbm.xml"/>
    <mapping resource="POJOS/CntFiltros.hbm.xml"/>
    <mapping resource="POJOS/VenDetaCotizaOpc.hbm.xml"/>
    <mapping resource="POJOS/AlmDetapedidoVta.hbm.xml"/>
    <mapping resource="POJOS/AlmDetaTomaInv.hbm.xml"/>
    <mapping resource="POJOS/VenFormaPago.hbm.xml"/>
    <mapping resource="POJOS/AlmMaeTraslado.hbm.xml"/>
    <mapping resource="POJOS/MlTerpel.hbm.xml"/>
    <mapping resource="POJOS/GenConsecutivos.hbm.xml"/>
    <mapping resource="POJOS/CxPRetIcaxFac.hbm.xml"/>
    <mapping resource="POJOS/VenMaeCotizaOpc.hbm.xml"/>
    <mapping resource="POJOS/CfgUsuarios.hbm.xml"/>
    <mapping resource="POJOS/MlDetaTalonario.hbm.xml"/>
    <mapping resource="POJOS/AlmLineas.hbm.xml"/>
    <mapping resource="POJOS/NomEmpleado.hbm.xml"/>
    <mapping resource="POJOS/VenVendedor.hbm.xml"/>
    <mapping resource="POJOS/GenConsecA.hbm.xml"/>
    <mapping resource="POJOS/VenMaeNotas.hbm.xml"/>
    <mapping resource="POJOS/TesBancos.hbm.xml"/>
    <mapping resource="POJOS/CxPDetaCompra.hbm.xml"/>
    <mapping resource="POJOS/NomTransxEmpTmp.hbm.xml"/>
    <mapping resource="POJOS/NomHistorialProvisiones.hbm.xml"/>
    <mapping resource="POJOS/AlmInvent.hbm.xml"/>
    <mapping resource="POJOS/VenFacturas.hbm.xml"/>
    <mapping resource="POJOS/AlmSubLineas.hbm.xml"/>
    <mapping resource="POJOS/CntInvParVentas.hbm.xml"/>
    <mapping resource="POJOS/NomTipoContrato.hbm.xml"/>
    <mapping resource="POJOS/CfgConsecxTrans.hbm.xml"/>
    <mapping resource="POJOS/VenFpsxLp.hbm.xml"/>
    <mapping resource="POJOS/NomHistorialAportes.hbm.xml"/>
    <mapping resource="POJOS/TesControlTurno.hbm.xml"/>
    <mapping resource="POJOS/MlClase.hbm.xml"/>
    <mapping resource="POJOS/VenDetaCart.hbm.xml"/>
    <mapping resource="POJOS/NomTransaccion.hbm.xml"/>
    <mapping resource="POJOS/AlmInsumos.hbm.xml"/>
    <mapping resource="POJOS/NomPeriodos.hbm.xml"/>
    <mapping resource="POJOS/NomTipoArp.hbm.xml"/>
    <mapping resource="POJOS/CxPObservaCom.hbm.xml"/>
    <mapping resource="POJOS/NomArp.hbm.xml"/>
    <mapping resource="POJOS/CntMmcolschemas.hbm.xml"/>
    <mapping resource="POJOS/VenMaeCotiza.hbm.xml"/>
    <mapping resource="POJOS/AlmLineasxToma.hbm.xml"/>
    <mapping resource="POJOS/AlmDetaPedidoVentaRm.hbm.xml"/>
    <mapping resource="POJOS/NomEmpEstados.hbm.xml"/>
    <mapping resource="POJOS/VenDetaPrecios.hbm.xml"/>
    <mapping resource="POJOS/CfgPerfil.hbm.xml"/>
    <mapping resource="POJOS/CxPFacturas.hbm.xml"/>
    <mapping resource="POJOS/NomCtasParafiscales.hbm.xml"/>
    <mapping resource="POJOS/CfgUsuariosxAlm.hbm.xml"/>
    <mapping resource="POJOS/CntPuc.hbm.xml"/>
    <mapping resource="POJOS/CfgDetaPerfil.hbm.xml"/>
    <mapping resource="POJOS/GenAlmacenes.hbm.xml"/>
    <mapping resource="POJOS/VenListaPreciosJoin.hbm.xml"/>
    <mapping resource="POJOS/CxPDetaPedProv.hbm.xml"/>
    <mapping resource="POJOS/NomCesantias.hbm.xml"/>
    <mapping resource="POJOS/TesCtasBancarias.hbm.xml"/>
    <mapping resource="POJOS/GenMunicipios.hbm.xml"/>
    <mapping resource="POJOS/VenConceptosNotas.hbm.xml"/>
    <mapping resource="POJOS/CntMmtipDoc.hbm.xml"/>
    <mapping resource="POJOS/AlmInventLote.hbm.xml"/>
    <mapping resource="POJOS/GenHomologacion.hbm.xml"/>
    <mapping resource="POJOS/GenModules.hbm.xml"/>
    <mapping resource="POJOS/NomEntLibranzas.hbm.xml"/>
    <mapping resource="POJOS/NomPagos.hbm.xml"/>
    <mapping resource="POJOS/AlmMovTraslados.hbm.xml"/>
    <mapping resource="POJOS/TesCtasBancariasxAlm.hbm.xml"/>
    <mapping resource="POJOS/MlMaeTalonario.hbm.xml"/>
    <mapping resource="POJOS/CntCenCostos.hbm.xml"/>
    <mapping resource="POJOS/NomLiqsTrans.hbm.xml"/>
    <mapping resource="POJOS/CntMaeFormatExcel.hbm.xml"/>
    <mapping resource="POJOS/VenListaPrecios.hbm.xml"/>
    <mapping resource="POJOS/SysAlmConceptos.hbm.xml"/>
    <mapping resource="POJOS/CntDetaFormatExcel.hbm.xml"/>
    <mapping resource="POJOS/VenRetxFac.hbm.xml"/>
    <mapping resource="POJOS/NomTransxEmp.hbm.xml"/>
    <mapping resource="POJOS/CntLibros.hbm.xml"/>
    <mapping resource="POJOS/NomNovedad.hbm.xml"/>
    <mapping resource="POJOS/NomDetaVariables.hbm.xml"/>
    <mapping resource="POJOS/MlProducto.hbm.xml"/>
    <mapping resource="POJOS/AlmTomaInv.hbm.xml"/>
    <mapping resource="POJOS/AlmSaldosTras.hbm.xml"/>
    <mapping resource="POJOS/Sysdiagrams.hbm.xml"/>
    <mapping resource="POJOS/NomUndTrans.hbm.xml"/>
    <mapping resource="POJOS/AlmInsUnidades.hbm.xml"/>
    <mapping resource="POJOS/NomHistorial.hbm.xml"/>
    <mapping resource="POJOS/TesEgresos.hbm.xml"/>
    <mapping resource="POJOS/VenDetaPed.hbm.xml"/>
    <mapping resource="POJOS/CntMmmaeConceptos.hbm.xml"/>
    <mapping resource="POJOS/CntInvParDevVentas.hbm.xml"/>
    <mapping resource="POJOS/VenIvas.hbm.xml"/>
    <mapping resource="POJOS/NomCtasxSeccion.hbm.xml"/>
    <mapping resource="POJOS/CxPRetxFac.hbm.xml"/>
    <mapping resource="POJOS/VenBasesRet.hbm.xml"/>
    <mapping resource="POJOS/CntMmdetaSchemas.hbm.xml"/>
    <mapping resource="POJOS/CxPRadicacion.hbm.xml"/>
    <mapping resource="POJOS/GenNotificaEventos.hbm.xml"/>
    <mapping resource="POJOS/MlTipo.hbm.xml"/>
    <mapping resource="POJOS/NomTersxTran.hbm.xml"/>
    <mapping resource="POJOS/CntInvParCompras.hbm.xml"/>
    <mapping resource="POJOS/VenMaePed.hbm.xml"/>
    <mapping resource="POJOS/VenClientes.hbm.xml"/>
    <mapping resource="POJOS/CntComprobantes.hbm.xml"/>
    <mapping resource="POJOS/CntFuentes.hbm.xml"/>
    <mapping resource="POJOS/NomEps.hbm.xml"/>
    <mapping resource="POJOS/VenDetaPreciosJoin.hbm.xml"/>
    <mapping resource="POJOS/AlmMaePedidoVta.hbm.xml"/>
    <mapping resource="POJOS/AlmImgInsumos.hbm.xml"/>
    <mapping resource="POJOS/AlmDetaTraslado.hbm.xml"/>
  </session-factory>
</hibernate-configuration>
